<%= form_for([@todo_list, @todo_item], remote: true) do |form| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Edit Task</h5>
  </div>
  <div class="modal-body">
    <div class="field">
      <%= form.text_field :description, class: 'form-control mr-sm-5' %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
